<p>like-dislike works!</p>

<!-- <button class="like-button" (click)="likeClicked()"
    ng-click="likes=likes-1"
    *ngIf="likeID==1"
    [ngClass]="likeStatus ? 'liked' : 'like-button'">
    Like | <span class="likes-counter">{{likes}}</span>
</button> -->

<button class="like-button" (click)="likeClicked()"
    *ngIf="likeID==1"
    [ngClass]="likeStatus ? 'liked' : 'like-button'">
    Like | <span class="likes-counter">{{likes}}</span>
</button>


<button class="like-button" (click)="likeClickedDec()"
    *ngIf="likeID==0"
    [ngClass]="likeStatus ? 'liked' : 'like-button'">
    Like | <span class="likes-counter">{{likes}}</span>
</button>



<!-- <button class="dislike-button" (click)="dislikeClicked()" 
    [ngClass]="dislikeStatus ? 'disliked' : 'dislike-button'">
    Dislike | <span class="dislikes-counter">{{ dislikes }}</span>
</button> -->

<button class="dislike-button" (click)="dislikeClicked()"
    *ngIf="dislikeID==1"
    [ngClass]="dislikeStatus ? 'disliked' : 'dislike-button'">
    Dislike | <span class="likes-counter">{{dislikes}}</span>
</button>


<button class="dislike-button" (click)="dislikeClickedDec()"
    *ngIf="dislikeID==0"
    [ngClass]="dislikeStatus ? 'disliked' : 'dislike-button'">
    Dislike | <span class="likes-counter">{{dislikes}}</span>
</button>


